
p{
	font-family:  "Candara";
	font-size: 1.2rem;
	color: black;
  font-weight: bold;
}

ph2{
  font-family:  "Candara";
	font-size: 1.6rem;
	color: black;
  font-weight: bold;
}
#link {
  /*color:  #74725F;
  */
  color: #000000;
  font-weight: bold;
}

ol {
  list-style-type: initial;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  padding-right: 40px;
  list-style-position: inside;
}

ul {
  /*
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  left:50%;*/
  text-align:center;
	font-family: 'Didact Gothic';
  float:center;
	display: inline-block;
  clear:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
}
li {
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color: #74725F;
}

ol li {
  display: list-item;
  list-style:disc;
  margin-left: 30px;
  padding-left: 30px;
}

li p{
  font-family: 'Courier New', Courier, monospace;
	font-size: 1rem;
	color: black;
  font-weight: initial;
}

li p a {
  display: initial;
  padding: initial;
  color:DodgerBlue;
}

.container2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 1200px;
  height: 233px;
}
.container1 {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 1000px;
  height: 233px;
}
.head  {
  margin-left:auto;
  margin-right: auto;
  width: auto;
  height: 75px;
  text-align: center;
}
.dp{
  margin-left: 1000px;
  margin-right: auto;
  margin-top: 0px;
  height: 250%;
}
.image {
  width: 1200px;
  width:  100%;
}
.sunset{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 1200px;
  height: 1080px;
  align-items: center;
}
.mouth {
  height:50px;
	text-align: center;
  width: auto;
  margin-top: 50px;
}